<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amazonaws.ivs.reactnative.player">
  <application>
    <meta-data
      android:name="com.amazonaws.ivs.player.FRAMEWORK_NAME"
      android:value="reactnativeplayer" />
    <meta-data
      android:name="com.amazonaws.ivs.player.FRAMEWORK_VERSION"
      android:value="${sdkVersion}" />
  </application>
</manifest>
